body {


    white-space: nowrap;
    background-color: white;

    padding: 0%;
    margin: 0%;


}

section {
    justify-content: space-between;

    text-decoration: none;
    padding: 0;
    margin: 0;




}

img {
    width: 10.9%;
    margin: 0;
    padding: 0;
}



p {

    text-decoration: none;
    text-justify: auto;
    margin: 0;
    padding: 0;
}

nav div {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}

iframe {
    width: 100%;
    height: 680;

}

.button {
    display: inline-flexbox;
    padding: 10px 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    background-color: #04AA6D;
    border: none;
    border-radius: 24px;
    box-shadow: 0 9px #4f4;
    max-width: 100%;

}

.button:hover {
    background-color: gold;
}

.button:active {
    background-color: #FF10F0;
    box-shadow: 0 10px #1F51FF;
    transform: translateY(10px);

}

footer {
    text-align: center;

}