@layer base {
  /* //COOL// */
  .youtube {
    /* //add spaces// */
    aspect-ratio: 16 / 9;
    width: 100%;
    /* //add spaces// */
  }

  :root {
    /* colors */
    --black: #000501;
    --white: #ffffff;
    --tan: #b6b57b;
    --green: #31b28a;
    --lightgreen: #8cdfc5;
    --red: #ff4404;

    /* font families */
    --main: "Lato", sans-serif;
    --heading: "Josefin Sans", sans-serif;
    --mono: "Fira Mono", monospace;

    /* type scale */
    --base-size: 1rem;
    --scale: 1.2;
    --h1: calc(var(--h2) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h5: calc(var(--h6) * var(--scale));
    --h6: var(--base-size);
    --small: calc(var(--base-size) / var(--scale));
  }

  /* border box model: https://css-tricks.com/box-sizing/ */
  html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  /* h/t Scott O'Hara https://css-tricks.com/inclusively-hidden/ */

  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .colors {
    display: flex;
    gap: 20px;
  }

  .colors > * {
    width: 50px;
    height: 50px;
    border: 5px double limegreen;
  }

  .white {
    background-color: var(--white);
  }

  .black {
    background-color: var(--black);
  }

  .tan {
    background-color: var(--tan);
  }

  .green {
    background-color: var(--green);
  }

  .lightgreen {
    background-color: var(--lightgreen);
  }

  .red {
    background-color: var(--red);
  }

  body {
    font-family: var(--main);
    margin: 0;
    padding: 0;
    font-size: var(--base-size);
    line-height: 1.5;
  }

  /* margin-top: 0;
    margin-bottom: 0; */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--heading);
    text-transform: uppercase;
  }

  h1 {
    font-size: var(--h1);
  }

  h2 {
    font-size: var(--h2);
  }

  h3 {
    font-size: var(--h3);
  }

  h4 {
    font-size: var(--h4);
  }

  h5 {
    font-size: var(--h5);
  }

  h6 {
    font-size: var(--h6);
  }

  .mono {
    font-family: var(--mono);
  }

  a {
    color: var(--green);
  }

  a:hover {
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }

  figure {
    margin: 0;
    padding: 0;
  }

  ._c_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    color: white;
    text-align: center;

    border: 2px solid red;
  }

  ._c_button {
    display: inline-block;
    background-color: var(--green);
    color: var(--white);
    padding: 1rem;
    border-radius: 55%;
    text-decoration: none;
    font-family: var(--heading);
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
  }

  ._c_button:hover {
    background-color: var(--tan);
  }
}

@layer intro {
  ._c_intro {
    background-image: url(./portfolio_Images/fem-featured-top.png),
      url(./portfolio_Images/fem-comet.jpg);
    background-repeat: repeat-x, no-repeat;
    background-position: bottom center, 83% 25%;
    padding: 4rem 0 10rem 0;
    color: var(--white);
  }

  ._c_intro a {
    color: var(--white);
  }

  ._c_name {
    font-weight: 700;
    font-size: var(--h5);
  }
}

@layer contact {
  ._c_contact {
    background: var(--black) url(./portfolio_Images/fem-aurora.jpg) center
      center;
    background-repeat: no-repeat;
    text-align: center;
    color: var(--white);
    padding: 4rem 0;
  }

  ._c_contact a {
    display: inline-block;
    color: var(--white);
    padding: 1rem;
    border-radius: 55%;
    background-color: var(--green);
    text-decoration: none;
  }
  ._c_contact p {
    color: var(--white);
    padding: 1rem;
    background-color: rgb(255, 0, 247);
    font-weight: bold;
  }
}

@layer header {
  body {
    background-color: var(--black);
  }

  ._c_header {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    /* align-items: center; */
    justify-content: space-evenly;
  }
  ._c_header h1 {
    /* margin-right: 60px; */
    /*  margin-top: 0; */
    /* margin-bottom: 0; */
    font-size: var(--h3);
    font-weight: 600;
  }

  ._c_header nav {
    font-family: var(--heading);
    font-size: var(--h3);
    font-weight: 600;
    margin: 0;
    padding: 0;

    /* border: 3px solid pink; */
  }

  ._c_header ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    list-style-type: none;

    /* border: 3px solid red; */
  }

  ._c_header a {
    text-decoration: none;
    color: var(--white);

    /* border: 3px solid rgb(21, 205, 104); */
  }

  ._c_header a:hover {
    color: yellowgreen;
  }

  ._c_header a:hover svg {
    fill: yellow;
  }
  ._c_header svg {
    width: 30px;
    /* ? */
    fill: var(--green);
    align-self: baseline;
  }

  ._c_header img {
    width: 30px;
    align-self: center;
  }
}

@layer footer {
  ._c_footer {
    background-image: url("https://assets.codepen.io/296057/fem-stars.jpg");
    background-position: 0% 100%;
    text-align: center;
    background-color: var(--black);
    background-size: cover;
  }

  ._c_footer ul {
    list-style-type: none;
    color: purple;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 2rem;
    font-size: 1rem;
  }

  ._c_footer svg {
    width: 200px;
    fill: green;
  }
  ._c_footer svg:hover {
    width: 300px;
    fill: yellow;
  }
}
/* //cool//+=-=+value+=-=+//cool// */
@layer projects {
  ._c_projects {
    background-color: var(--black);
    padding: 6rem 0 4rem 0;
    color: var(--white);
  }

  ._c_projects figure {
    display: grid;
    grid-template-rows: 1fr 100px;
  }
  ._c_projects figure img {
    /*     VERY COOL VERY COOL */
    object-fit: cover;
    /*     VERY COOL VERY COOL */
    width: 100%;
    height: 100%;
  }

  ._c_projects figure a {
    color: var(--white);
    text-decoration: none;

    grid-row: 1/3;
    grid-column: 1/2;
  }

  ._c_projects figure a:hover {
    color: var(--green);
  }

  ._c_projects figcaption {
    background-color: var(--black);
    opacity: 0.8;
    text-align: center;

    grid-row: 2/3;
    grid-column: 1/2;
  }

  ._c_projects figcaption h3 {
    margin-bottom: 0;
    font-size: var(--h4);
  }

  ._c_projects ._c_projects-container figcaption ul {
    /*     ?list-style went away with padding 0? */
    /*    padding: 0;  */
    /*     ?text-decoration went away with padding 0? */
    list-style-type: none;
    padding: 0;
    margin: 0 0 2rem 0;
    font-family: var(--mono);
    text-transform: uppercase;
    font-size: var(--small);
  }

  ._c_projects ._c_projects-container figcaption li {
    display: inline-block;
  }

  ._c_projects ._c_projects-top-grids {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    margin-bottom: 1rem;
  }

  ._c_projects ._c_projects-top-grids figure:first-child {
    grid-row: span 2;
  }

  ._c_projects ._c_projects-top-grids h3 {
    margin: 0;
    font-size: var(--h5);
  }

  ._c_projects ._c_projects-bottom-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    margin: 2rem 0;
  }

  /*   ._c_projects img {
    max-width: 100%;
  } */
}

@layer featured {
  ._c_featured {
    background-image: url(./portfolio_Images/fem-feature-bottom.png),
      url(https://assets.codepen.io/296057/fem-feature-bkgd.png);
    background-repeat: repeat-x, repeat;
    background-position: bottom center, center center;
    padding: 6rem 0;
    background-color: var(--white);
    text-align: center;
    border: 1px solid red;
  }

  ._c_featured h2 {
    font-size: var(--h3);
    padding-top: 4rem;
    margin: 6rem 0 3rem 0;
  }

  ._c_featured h3 {
    margin: 2rem 0 0 0;
    padding: 1rem 1rem 0 1rem;
    font-size: var(--h4);
    color: var(--white);

    background-color: var(--black);
  }

  ._c_featured article {
    display: grid;
    grid-template-rows: auto;
  }

  ._c_featured ._c_featured-grid ._c_featured-grid-img {
    grid-row: 1/2;
    /* grid-row: revert; /////coooooool//// */
    /*        ? with or without seems to work fine */
    grid-column: 1/2;
    /* grid-column: revert; /////coooooool//// */
    /*       ? with or without seems to work fine */
    display: block;
    margin-top: 1rem;
  }

  ._c_featured ._c_featured-grid ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: center;
    font-family: var(--mono);
    font-size: var(--small);
    margin: 0;
    padding: 0;
    /*     text-transform: uppercase; */
    grid-row: 2/3;
    /*      ? with or without seems to work fine */
    grid-column: 1/2;
    /*      ? with or without seems to work fine */

    /*     //COOL//COOL//COOL// */
    margin-top: -1.75rem;
    /*     //COOL//COOL//COOL// */
  }

  ._c_featured ._c_featured-grid li {
    background-color: var(--white);
    border: 3px solid var(--red);
    padding: 1rem;
  }

  ._c_featured ._c_featured-info {
    background-color: var(--black);
    padding: 0rem 1rem 1rem 1rem;
    color: var(--white);
    border-radius: 0;
  }

  ._c_featured ._c_featured-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  ._c_featured ._c_featured-info p {
    width: auto;
    margin: 0 auto;
    padding: 2rem;
    /* //put text in two columns//
    columns: 2;
    //put text in two columns// */
  }

  ._c_featured-info button {
    font-size: 30px;
    background-color: var(--green);
  }
  ._c_featured-info button a {
    color: var(--black);
    text-decoration: none;
  }
  ._c_featured-info button a:hover {
    color: var(--yellow);
    font-size: 50px;
    text-decoration: underline;
  }

  ._c_featured-info {
    padding: 2rem;
    margin-bottom: 4rem;
  }

  /*   
  ._c_featured-grid {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    margin-bottom: 4rem;
  }
   */
}
/* //
//LAST ITEM//
// */
@media (min-width: 1440px) {
  ._c_featured h2 {
    border: 3px solid purple;
  }
}
@media (max-width: 1040px) {
  ._c_featured ._c_featured-grid ul {
    background-color: var(--white);
    border: 3px solid var(--red);
  }
  ._c_featured ._c_featured-grid li {
    /* //COOL// */
    background-color: transparent;
    /* //COOL// */
    margin-top: 1.75rem;
    border: none;
    padding: 1rem;
    font-weight: bolder;
  }
}
@media (min-width: 1000px) {
  ._c_featured ._c_featured-info p {
    width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
}
@media (max-width: 992px) {
  ._c_projects ._c_projects-top-grids {
    display: block;
  }

  ._c_projects ._c_projects-top-grids figure {
    margin-bottom: 1rem;
  }
  ._c_projects ._c_projects-bottom-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    gap: 1rem 1rem;
  }

  ._c_projects ._c_projects-bottom-grid > * {
    flex-basis: 30%;
  }

  ._c_projects ._c_projects-bottom-grid img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  /*     //cool// > * //cool// */

  /*     //cool// > * //cool// */
}
@media (max-width: 860px) {
  ._c_featured ._c_featured-grid li {
    padding: 1rem;
    font-weight: bolder;
  }
}

@media (max-width: 773px) {
}

@media (max-width: 683px) {
  ._c_projects ._c_projects-bottom-grid {
    gap: 2rem;
  }
  ._c_projects ._c_projects-bottom-grid a {
    flex-basis: 80%;
  }

  ._c_projects ._c_projects-top-grids figure {
    margin-bottom: 2rem;
  }

  ._c_projects h2 {
    font-size: var(--h5);
  }

  ._c_projects figcaption h3 {
    font-size: var(--base-size);
  }
}

/* //cool//+=-=+value+=-=+//cool// */
