* {
    box-sizing: border-box;
}

.ug-grid01 {
    color: green;
    background-color: violet;
    grid-area: ug-grid01;
    border: 3px solid red;
}

.ug-grid02 {
    color: blue;
    background-color: turquoise;
    grid-area: ug-grid02;
}

.ug-grid03 {
    color: red;
    background-color: turquoise;
    grid-area: ug-grid03;
    border: 3px solid blue;

}

.ug-grid04 {
    color: rgb(15, 210, 227);
    background-color: peru;
    grid-area: ug-grid04;
    border: 3px solid black;
}

.ug-grid05 {
    color: blue;
    background-color: red;
    grid-area: ug-grid05;
}

.ug-grid06 {
    color: yellow;
    background-color: purple;
    grid-area: ug-grid06;
}

.ug-grid07 {
    color: pink;
    background-color: blue;
    grid-area: ug-grid07;
}

.ug-grid08 {
    color: purple;
    background-color: gold;
    grid-area: ug-grid08;
}

.ug-grid09 {
    color: green;
    background-color: violet;
    grid-area: ug-grid09;
    border: 3px solid red;
}

.ug-grid10 {
    color: red;
    background-color: turquoise;
    grid-area: ug-grid10;
    border: 3px solid blue;

}

.ug-grid11 {
    color: pink;
    background-color: blue;
    grid-area: ug-grid11;
}

.ug-grid12 {
    color: yellow;
    background-color: purple;
    grid-area: ug-grid12;
}


.main-grid {
    display: grid;
    grid-template-areas:
        "ug-grid01 ug-grid02 ug-grid03 ug-grid04"
        "ug-grid01 ug-grid05 ug-grid06 ug-grid07"
        "ug-grid01 ug-grid08 ug-grid08 ug-grid08"
        "ug-grid09 ug-grid10 ug-grid11 ug-grid12"
        "ug-grid09 ug-grid10 ug-grid11 ug-grid12"
        "ug-grid09 ug-grid10 ug-grid11 ug-grid12"
        "ug-grid09 ug-grid10 ug-grid11 ug-grid12"
        "ug-grid09 ug-grid10 ug-grid11 ug-grid12"
        "ug-grid09 ug-grid10 ug-grid11 ug-grid12"
        "ug-grid09 ug-grid10 ug-grid11 ug-grid12"
        "ug-grid09 ug-grid10 ug-grid11 ug-grid12"
        "ug-grid09 ug-grid10 ug-grid11 ug-grid12"
        "ug-grid09 ug-grid10 ug-grid11 ug-grid12";

    gap: 10px;

}