@import url(../valueINITbase.css);
@import url(../Apple+Music.css);

#_id_frame {
    grid-area: frame;
    padding: 0;
    margin: 0;
    width: 100%; 
    height: 750px; 
    background-color: black; 
    color: white; 
    overflow: scroll;
}

._c_Apple-Music-Video-back-button {
    grid-area: center-lt;
}

._c_Apple-Music-Video-refresh-button {
    grid-area: center;
    padding: 0;
    margin: 0;
}

._c_Apple-Music-Video-forward-button {
    grid-area: center-rt;
    padding: 0;
    margin: 0;
}

._c_Apple-Music-Video-alphabet-buttons-left {
    grid-area: left;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    }



._c_Apple-Music-Video-alphabet-buttons-right {
    grid-area: right;
    display: inline-flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;

}

#_id_Good-News {
    grid-area: GoodNews;
}

._c_Apple-Music-grid-buttons {
    grid-area: _c_Apple-buttons ;
}

._c_Apple-Music-grid {
    display: grid;
    justify-content: flex-start;
    align-items: end;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    grid-template-areas: 
     'left _c_header _c_header _c_header _c_header _c_header _c_header right' 
        'left frame frame frame frame frame frame right'
        'left frame frame frame frame frame frame right'
        'left frame frame frame frame frame frame right'
        'left GoodNews GoodNews GoodNews GoodNews GoodNews GoodNews right'
        '_c_Apple-buttons _c_Apple-buttons _c_Apple-buttons _c_Apple-buttons _c_Apple-buttons _c_Apple-buttons _c_Apple-buttons _c_Apple-buttons' ;
}


button {
    border: 3px solid green;
    /* padding: 0;
    margin: 0;
    height: auto; */
}

._c_header {
    grid-area: _c_header;
}

._c_shop {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        gap: auto;
       
}

._c_shop img {
        width: 300px;
        height: 300px;
        object-fit: fill;
        background-color: black;
}

._c_shop ._c_object-fit-cover {
    object-fit: cover;

} 










/* 

.button {
        display: inline-block;
        padding: 10px 7px;
        margin: 0px;
        font-size: 17px;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        outline: none;
        color: #ffffff;
        background-color: #04AA6D;

        max-width: 100%;



}

.button:hover {
        background-color: gold;
}

.button:active {
        background-color: #FF10F0;
        box-shadow: 0 10px #1F51FF;
        transform: translateY(10px);

}

div a {
        display: inline-block;
        text-align: center;
        text-wrap: nowrap;
}

nav {
        margin: 0;
}

nav div {
        display: flex;
        flex-wrap: row nowrap;
        justify-content: center;
        margin: 0;
        padding: 0;
} */
