@import url(../valueINITbase.css);
@import url(../Contact/contact.css);

body {
    font-family: Arial, sans-serif;
    font-size: 2rem;
    cursor: progress;
}


#_id_frame {
    display: block;
    align-content: center;
    align-content: webkit-center;
    align-content: moz-center;
    align-content: ms-center;
    align-content: o-center;
    align-content: khtml-center;       
}

p {
    text-align: center;
    border: 3px solid green;
    margin: 0;
    padding: 0;
}

footer {
    font-size: 1rem;
}