@import url(../valueINITbase.css);
@import url(../Contact/contact.css);

body {
 font-family: Arial, sans-serif;
 font-size: 2rem;
 cursor: progress;
}


#_id_frame {
    align-content: khtml-center;
    align-content: o-center;
    align-content: ms-center;
    align-content: moz-center;
    align-content: webkit-center;
    align-content: center;          
}