@import url(../valueINITbase.css);
@import url(../Contact/contact.css);

body {
    font-family: Arial, sans-serif;
    font-size: 2rem;
    cursor: progress;
}


#_id_frame {
    display: inline-block;
    align-content: center;
    align-content: webkit-center;
    align-content: moz-center;
    align-content: ms-center;
    align-content: o-center;
    align-content: khtml-center;       
}

p {
    text-align: center;
    border: 3px solid green;
    margin: 0;
    padding: 0.5rem;
}

p:hover {
    background-color: blue;
}
footer {
    font-size: 1rem;
}


button[class*="_c_Apple-Music-Video-"] {
    animation: flash-green 1s infinite alternate;
}

._c_Apple-Music-grid-buttons  ._c_Scroll-Up {
    animation: flash-blue 1s infinite alternate;
}

._c_Apple-Music-grid-buttons ._c_Scroll-Down {
    animation: flash-red 1s infinite alternate;
}


@keyframes flash-blue {
    0% {
        background-color: white;
    }
    100% {
        background-color: blue;
    }
}

@keyframes flash-red {
    0% {
        background-color: white;
    }
    100% {
        background-color: red;
    }
}

@keyframes flash-green {
    0% {
        background-color: white;
    }
    100% {
        background-color: green;
    }
}



